body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Navbar */

.navbar {
  width: 100%;
  background-color: #139481;
  padding: 0 3rem 0 0;
  height: 3rem;
  display: flex;
  justify-content: right;
}
.navbar__list {
  display: flex;
  width: 10rem;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  list-style: none;
  height: 100%;
}
.navbar__list_link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #041e1a;
}
.navbar__list_item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 300ms;
}
.navbar__list_item:hover {
  background-color: rgba(255, 255, 255, 0.488);
}

/* Main section styles */

.section {
  width: 58rem;
  margin: 5rem auto;
  background-color: #8da7a3;

  padding: 2rem;
  display: flex;
  flex-direction: column-reverse;
  gap: 2rem;
  transition: 300ms;
  -webkit-box-shadow: 6px 6px 8px -5px #878787;
  box-shadow: 6px 6px 8px -5px #878787;
}
.section-title {
  padding-top: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 50;
  letter-spacing: 0.2rem;
  border-bottom: 1px solid rgba(169, 169, 169, 0.173);
}
.container {
  display: flex;
  height: 100%;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.image__box {
  width: 12rem;
  height: 12rem;
  background-color: #083b34;
  padding: 0.5rem;
  color: #e7f4f2;
  object-fit: cover;
  -webkit-box-shadow: 6px 6px 8px -5px #878787;
  box-shadow: 6px 6px 8px -5px #878787;
  transition: 300ms;
}
.image__box:hover {
  transform: scale(1.2);
}
.image {
  width: 100%;
  height: 7rem;
}
.info-container {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
}
.btn {
  padding: 0.5rem;
  background-color: #083b34;
  border: none;
  border: 3px solid #052521;
  transition: 300ms;
  text-decoration: none;
  color: #e7f4f2;
}
.btn:hover {
  background-color: #e7f4f2;
  color: #083b34;
  cursor: pointer;
}
.content {
  margin-top: 0.5rem;
  font-size: 0.7rem;
}
.date {
  display: flex;
  gap: 0.3rem;
}
.btn-remove {
  background-color: #703930;
}
.select {
  padding: 0.5rem;
  background-color: #083b34;
  border: none;
  border: 3px solid #052521;
  transition: 300ms;
  text-decoration: none;
  color: #e7f4f2;
}
.controlers {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.size {
  display: flex;
  justify-content: space-between;
}

.active {
  border-bottom: 5px solid rgb(158, 143, 6);
}
